{% extends "base.html" %}
{% block title %}Login | {% endblock %}
{% block content %}
<div class="wrapper">
    <header>
        <h1><a class="on_cursor" href="#">Memollection | Login</a></h1>
        <a href="/signup"><button class="menu_link on_cursor">Signup</button></a>
</header>

    <div class="main">
        <form method="post" class="user_info" name="login_form">
            <div class="user_info_field">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flashed">{{ messages[0] }}</div>
                {% endif %}
                {% endwith %}
                <input type="text" name="username" id="username_field" placeholder="Username"><br>
                <input type="password" name="pw" id="pw_field" placeholder="Password"><br>
                <input class="on_cursor" type="submit" name="submit" value="LINK START" id="submit">
            </div>
        </form>
    </div>
    <footer>
        &copy;2022 Ebina Kai
    </footer>
</div>
{% endblock %}